body {
  background-color: #ffbf00;
  text-align: center;
}

section {
  margin-bottom: 5%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.whisky {
  background-color: darkgreen;
  color: wheat;
  border-radius: 20px;
  padding: 2%;
  margin: 1%;
}

.whisky-name {
  font-size: large;
  font-weight: bold;
}

.whisky-type {
  font-style: italic;
}

.whisky-country {
  font-size: xx-large;
}

form {
  text-align: justify;
}

.form-input {
  justify-content: center;
  display: flex;
  padding: 5px;
}
